/* colors???
    #0b090a
    #161a1d
    #660708
    #a4161a
    #ba181b
    #e5383b
    #b1a7a6
    #d3d3d3
    #f5f3f4
    #ffffff
*/

* {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #161a1d;
  color: #fff;
  margin: 2rem;
}

/* Genral styles */
.container {
  padding: 20rem 3rem;
}

.text {
  font-size: 1.7rem;
  line-height: 4.5rem;
}
/*  */

/* nav links */
.links {
  font-size: 1.4rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

/* Header section */

.heading-name {
  color: #e5383b;
}

.heading-text {
  font-size: 6rem;
  line-height: 6.5rem;
}

.span-text {
  color: #8b8d8e;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.span-animation {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(150px, 1fr));
  grid-gap: 10px;
}

.col {
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.project-title {
  color: #e5383b;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-description {
  text-align: center;
  margin-top: 10px;
}

.project-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.bankist-img {
  width: 530px;
  height: auto;
}
/* About Me */
.about__me-heading {
  color: #e5383b;
}
.about__me-text {
  font-size: 1.7rem;
  line-height: 3rem;
}
